.navButton {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.navButton img {
  width: 32px;
  height: 32px;
}
