.navButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 40px;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }
  
  .navButton img {
    width: 32px;
    height: 32px;
    pointer-events: none;
  }
  