.navbar {
  background-color: var(--qtify-green);
  height: 74px;
  width: 100%;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 0 auto;
}

.logoWrapper {
  display: flex;
  align-items: center;
}
