.search {
  width: 100%;
  height: 100%;
  padding: 0 48px 0 16px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #121212;
  background-color: #FFFFFF;
  border: 1px solid #121212;
  border-radius: 8px;
}

.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.listElement {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.albumTitle {
  font-size: 16px;
}

.albumArtists {
  font-size: 12px;
}

.search::placeholder {
  color: var(--color-white);
  opacity: 0.6;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 568px;
  height: 48px;
}

.icon {
  position: absolute;
  right: 16px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
